INPUT_SYNCER_PORT=3000
INPUT_SYNCER_MAX_PLAYERS=2
INPUT_SYNCER_AUTO_START_WHEN_FULL=true
INPUT_SYNCER_STEP_INTERVAL=0.1
INPUT_SYNCER_ALLOW_LATE_JOIN=false
INPUT_SYNCER_SEND_HISTORY_ON_LATE_JOIN=true
INPUT_SYNCER_ADMIN_AUTH_TOKEN=
INPUT_SYNCER_IDLE_TIMEOUT=0
INPUT_SYNCER_MAX_INSTANCES=10
INPUT_SYNCER_AUTO_RECYCLE=true
